<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid d-flex justify-content-between">
              <a class="navbar-brand" href="/">CCL CentrEx Online Reservation System</a>
              <div class="d-flex">
                <a href="/food_items" class="me-3 d-flex btn btn-secondary">Food Items</a>
                <a href="/create_form" class="d-flex btn btn-primary">Create Form</a>
              </div>
             
          </div>
        </nav>
        {% block content %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries
    
      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyBVxhK6YI954tcj3OOiUIufcn-klLNhz-M",
        authDomain: "ccl-centrex-reservation-b4ebd.firebaseapp.com",
        projectId: "ccl-centrex-reservation-b4ebd",
        storageBucket: "ccl-centrex-reservation-b4ebd.appspot.com",
        messagingSenderId: "1013360418333",
        appId: "1:1013360418333:web:83171a792f65dae61fb0f4"
      };
    
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
    </script>
</html>