{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block head %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/checkboxes.css') }}">
{% endblock %}
{% block content %}
<section class="content">
    <form class="form" method="post">
        <h1 class="fs-2 mb-4">Create a Reservation Form</h1>
        <div class="mb-3 form-group">
            <input class="form-control" type="week" id="week" name="week" min="2023-W26" max="2024-W26" required/>
        </div>
        <hr style="height:2px; width:300px;background-color:gray">
        {% for weekday in ["monday","tuesday","wednesday","thursday","friday"] %}
            <h3 class="fs-6">{{weekday.capitalize()}}</h3>
            <input type="text" class="form-control mb-3" style="width:200px; height:40px;" id="search-{{weekday}}" onkeyup='search("{{weekday}}")' placeholder="Search for food items..">

            <div class="mb-2 form-check">
                {% for food in food_items %}
                <div class="checkbox-{{weekday}} mb-1">
                    <input class="form-check-input" type="checkbox" value="{{food.id}}" name="{{weekday}}" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault" name="{{food['name']}}" id="{{food['value']}}">{{ food["name"] }} - ₱{{ food["price"] }}</label><br>
                </div>
                {% endfor %}
            </div>
            <hr style="height:2px; width:300px;background-color:gray">
        {% endfor %}
        <button type="submit" class="mb-5 btn btn-primary">Create</button>
    </form>
</section> 
<script type="text/javascript">
    function search(weekday) {
        var input = document.getElementById("search-"+weekday);
        var filter = input.value.toUpperCase();
        var checkboxes = document.getElementsByClassName("checkbox-"+weekday);

        for (i = 0; i < checkboxes.length; i++) {
            txtValue = checkboxes[i].getElementsByTagName("label")[0].getAttribute('name')
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                checkboxes[i].style.display = "";
            } else {
                checkboxes[i].style.display = "none";
            }
        }
    }
</script>
{% endblock %}

     